body {
  font-family: "Open Sans", arial, sans-serif;
  color: #494d55;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.team-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.team-section .section-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 300;
}
.team-section .intro {
  color: #a2a6af;
  font-size: 16px;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.team-section .story {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 800px;
}
.team-section .profile-image {
  width: 120px;
  height: 120px;
}
.team-section .members-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.team-section .item-inner {
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.team-section .member-name {
  font-size: 18px;
  font-weight: 700;
  color: #40babd;
}
.team-section .member-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #616670;
}
.team-section .social {
  margin-bottom: 30px;
}
.team-section .social a {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #40babd;
  padding-top: 4px;
  color: #fff;
}
.team-section .social a.google {
  background: #dd4b39;
}
.team-section .social a.google:hover {
  background: #d73925;
}
.team-section .social a.twitter {
  background: #c71515;
}
.team-section .social a.twitter:hover {
  background: #3ea1ec;
}
.team-section .social a.facebook {
  background: #3b5998;
}
.team-section .social a.facebook:hover {
  background: #344e86;
}
.team-section .social a.linkedin {
  background: #1e6fba;
}
.team-section .social a.linkedin:hover {
  background: #1a62a4;
}
.team-section .social a.github {
  background: #444;
}
.team-section .social a.github:hover {
  background: #373737;
}
.team-section .social a.dribbble {
  background: #ec4d8b;
}
.team-section .social a.dribbble:hover {
  background: #ea367c;
}
.team-section .member-desc {
  color: #616670;
}

.experience {
  background-image: url(../images/back.jpg);
  max-height: max-content;
  color: #30cf08;
}

.skills {
  background-image: url(../images/skills8.jpg);
  max-height: max-content;
  color: #30cf08;
}

.skills ul {
  margin-top: 20px;
}
.skills li {
  padding-bottom: 5px;
}

.skill {
  background-image: url(../images/skills8.jpg);
  max-height: max-content;
  color: #30cf08;
}

.skill ul {
  margin-top: 20px;
}
.skill li {
  padding-bottom: 5px;
}

.pag {
  color: #fff;
  background-color: #1a61a4b9;
  border-radius: 1em;
  padding: 1em;
}

.pag1 {
  color: #fff;
  background-color: #000305c9;
  border-radius: 1em;
  padding: 1em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cards img {
  border-radius: 15px;
  width: 100%;
}
.cards {
  margin-top: 20px;
  padding: 5px 20px;
  margin-bottom: 5px;
}

.card {
  border-radius: 1em;
  text-align: center;
  padding: 1em;
  color: #30cf08;
}

.card:hover {
  background-color: rgba(63, 63, 63, 0.925);
}

.card img {
  border-radius: 15px;
  width: 50%;
  margin: auto;
}

.card {
  margin-top: 20px;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.logotip {
  /* width: 350px; */
  margin: auto;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}

a {
  color: #3aa7aa;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #339597;
}

a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}

.btn .fa,
a.btn .fa {
  margin-right: 5px;
}

.btn-cta,
a.btn-cta {
  font-weight: bold;
  font-size: 16px;
  padding: 10px 30px;
}

.btn-ctaі {
  margin-right: 5px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 30px;
}

.btn-primary {
  background: #000000;
  border: 2px solid #30cf08;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.hover {
  background: rgb(128, 128, 128);
  color: #fff;
  border: 2px solid #30cf08;
}

.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-indicators {
  bottom: 10px;
  margin-bottom: 0;
}

.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  width: 11px;
  height: 11px;
  margin: 0;
  margin-right: 5px;
}

.carousel-indicators li.active {
  background-color: #30cf08;
  width: 11px;
  height: 11px;
  margin: 0;
  margin-right: 5px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 30;
  height: 60px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.header.header-scrolled {
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.header.header-scrolled a {
  color: #000000;
}

.header.header-scrolled .logo {
  color: #40babd;
  padding-top: 12px;
}

.header.header-scrolled .logo .logo-icon-wrapper {
  background: #000000;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
}

.header.header-scrolled .logo .logo-icon {
  width: 20px;
  height: 20px;
  margin-right: 0;
}

.header.header-scrolled .main-nav .nav .nav-item a {
  color: #a2a6af;
}

.header.header-scrolled .main-nav .nav .nav-item.active a {
  color: #494d55;
  border-bottom: 4px solid #30cf08;
}

.header a {
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.header a:hover {
  text-decoration: none;
}

.header .logo {
  margin: 0;
  display: inline-block;
  float: left;
  font-size: 28px;
  padding-top: 15px;
}

.header .logo .logo-icon-wrapper {
  margin-right: 3px;
  position: relative;
  display: inline-block;
  top: -3px;
}

.header .logo .logo-icon {
  width: 30px;
  height: 30px;
}

.header .logo .highlight {
  font-weight: 800;
}

.main-nav {
  margin-top: 6px;
}

.main-nav .navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #2a2c26;
}

.dropdown-menu {
  background-color: rgb(31, 31, 31);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 2px;
}

.main-nav .navbar-toggle:focus {
  outline: none;
}

.main-nav .navbar-toggle .icon-bar {
  background-color: #fff;
  height: 3px;
}

.main-nav .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}

.main-nav .nav .nav-item {
  font-weight: normal;
  font-size: 14px;
  margin-right: 40px;
}

.main-nav .nav .nav-item.active a {
  background: none;
  color: #fff;
}

.main-nav .nav .nav-item a {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 700;
}

.main-nav .nav .nav-item a:hover {
  color: #30cf08;
}

.main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}

.main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}

.main-nav .nav .nav-item a:hover {
  outline: none;
  background: none;
}

.main-nav .nav .nav-item:last-child {
  margin-right: 0;
}

.main-nav .nav.active {
  position: relative;
}

.nav > li > a {
  padding-left: 5px;
  padding-right: 5px;
}

.footer {
  background: #000000;
  color: rgb(255, 255, 255);
  padding: 15px 0;
}
.footer a {
  color: #40babd;
}

.hero-section {
  min-height: 560px;
  background: #494d55;
  position: relative;
}

.hero-section .figure-holder-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.hero-section .figure-holder {
  position: relative;
  height: 560px;
}

.hero-section .figure-holder .figure-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.hero-sections {
  background-color: #000000;
  width: 100%;
  height: 60px;
}

.hero-sections .figure-holder-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.hero-sections .figure-holder {
  position: relative;
  height: 560px;
}

.hero-section .figure-holder .figure-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.hero-carousel {
  height: 560px;
  color: #fff;
}

.hero-carousel .carousel-inner .item {
  height: 560px;
  background-position: center center;
}

.hero-carousel .carousel-inner .item-1 {
  background-image: url(../images/oboi7.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* text-align: right; */
}

/* .item-1 {
  padding-left: 900px;
} */

.hero-carousel .carousel-inner .item-2 {
  background-image: url(../images/oboi5.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-carousel .carousel-inner .heading {
  font-size: 30px;
  line-height: 1.4;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}

.hero-carousel .carousel-inner .intro {
  font-size: 18px;
}

.hero-carousel .carousel-inner .intro + .btn {
  margin-top: 15px;
}

.about-section {
  padding-top: 10px;
}

.back {
  margin-top: 20px;
}

.about-section .section-title {
  padding-bottom: 5px;
  font-size: 36px;
  font-weight: 300;
}

.about-section .intro {
  color: #000000;
  font-size: 16px;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.about-section .items-wrapper {
  margin-bottom: 60px;
}

.about-section .items-wrapper .figure-holder {
  min-height: 100px;
  margin-bottom: 15px;
  vertical-align: bottom;
}

.about-section .items-wrapper .item-inner {
  padding: 30px;
}

.item-desc {
  text-align: center;
  padding-bottom: 5px;
}

.about-section .items-wrapper .item-title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
}

.about-section .items-wrapper .item-desc {
  color: #616670;
}

.technologies {
  margin-bottom: 90px;
}

.technologies li {
  margin-right: 10px;
}

.technologies li:last-child {
  margin-right: 0;
}

.testimonials {
  background: #40babd;
}

.testimonials-inner {
  padding: 60px 30px;
  position: relative;
  max-width: 800px;
}

.testimonials-inner .profile-holder {
  position: absolute;
  left: 30px;
  text-align: center;
}

.testimonials-inner .profile-image {
  display: inline-block;
  margin: 0 auto;
}

.testimonials-inner .quote {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-left: 130px;
  border-left: none;
  margin-bottom: 0;
  font-size: 14px;
  min-height: 100px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  padding: 15px;
}

.testimonials-inner .quote:before {
  position: absolute;
  left: -10px;
  top: 30px;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.2);
}

.testimonials-section {
  background: #30cf08 url("../images/map.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 20px;
}

.baks {
  background: #ffffff;
  margin-bottom: 20px;
}

section.awSlider .carousel {
  display: table;
  z-index: 2;
  -moz-box-shadow: 0 0 4px #444;
  -webkit-box-shadow: 0 0 4px #444;
  box-shadow: 0 0 15px rgba(1, 1, 1, 0.5);
}

section.awSlider {
  margin: 0px auto;
  padding: 20px;
  position: relative;
  display: table;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.awSlider:hover > img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(0.2);
  opacity: 0.2;
}

section.awSlider img {
  pointer-events: none;
}

section.awSlider > img {
  position: absolute;
  top: 30px;
  z-index: 1;
  transition: all 0.3s;
  filter: blur(1.8vw);
  -webkit-filter: blur(2vw);
  -moz-filter: blur(2vw);
  -o-filter: blur(2vw);
  -ms-filter: blur(2vw);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.2;
}

.zag {
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}

.testimonials-section .section-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 300;
  color: #000000;
}

.testimonials-section .item {
  position: relative;
  max-width: 800px;
  padding: 30px;
}

.profile-image {
  border-radius: 10px;
}

.testimonials-section .item:last-child {
  margin-bottom: 0;
}
.testimonials-section .item.item-reversed .profile-holder {
  left: inherit;
  right: 30px;
}
.testimonials-section .item.item-reversed .quote {
  margin-left: 0;
  margin-right: 105px;
}
.testimonials-section .item.item-reversed .quote:before {
  left: inherit;
  right: -10px;
  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.2);
  border-right: inherit;
}
.testimonials-section .item .profile-holder {
  position: absolute;
  left: 30px;
  text-align: center;
}
.testimonials-section .item .profile-image {
  display: inline-block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.testimonials-section .item .quote {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-left: 105px;
  border-left: none;
  margin-bottom: 0;
  font-size: 14px;
  min-height: 80px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  padding: 30px;
}
.testimonials-section .item .quote:before {
  position: absolute;
  left: -10px;
  top: 30px;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.2);
}
.testimonials-section .item .quote-source {
  color: rgba(0, 0, 0, 0.6);
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    top: 60px;
    position: absolute;
    background: #26282c;
    z-index: 40;
  }
  .header .main-nav .navbar-collapse .nav-item.active a {
    color: #40babd;
  }
  .header.header-scrolled .main-nav .navbar-collapse .nav-item.active a {
    border: none;
    color: #40babd;
  }
  .main-nav .navbar-collapse .nav-item {
    margin-right: 0;
  }
  .main-nav .navbar-collapse .nav-item a {
    text-align: center;
  }
  .pricing-wrapper .item-inner {
    min-height: inherit;
  }
  .pricing-wrapper .price-desc {
    min-height: inherit;
  }
  .hero-section .hero-sections .figure-image {
    width: 300px;
  }
  .hero-carousel .carousel-inner .heading {
    font-size: 26px;
  }
  .hero-carousel .carousel-inner .item-content-inner {
    padding-top: 100px;
  }

  .hero-section .hero-sections .figure-holder .figure-image {
    width: inherit;
    bottom: 0;
    top: inherit;
    right: inherit;
    left: 15px;
    max-width: 320px;
  }

  .technologies li {
    margin-bottom: 15px;
  }
  .members-wrapper .item {
    margin-bottom: 30px;
  }
  .members-wrapper .item:last-child {
    margin-bottom: 0;
  }
  .hero-carousel {
    height: 660px;
  }
  .hero-section .hero-sections .carousel-inner {
    height: 660px;
  }
  .hero-carousel .carousel-inner .item {
    height: 660px;
  }
  .testimonials-section .item .profile-image {
    width: 60px;
    height: 60px;
  }
  .testimonials-section .item .quote {
    margin-left: 85px;
    padding: 15px;
  }
  .testimonials-section .item.item-reversed .quote {
    margin-right: 85px;
  }
  .team-section .item-inner {
    min-height: inherit;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .feature-nav {
    text-align: left;
    padding-left: 30px;
  }
  .feature-nav > li {
    font-size: 15px;
  }
  .hero-section .hero-sections .figure-holder .figure-image {
    width: 400px;
    bottom: inherit;
    top: 130px;
  }
  .hero-carousel .carousel-inner .item-content-inner {
    max-width: 300px;
    padding-top: 120px;
  }
  .team-section .item-inner {
    min-height: 515px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .feature-nav {
    margin-top: 30px;
    padding-left: 15px;
  }
  .feature-nav > li {
    font-size: 16px;
  }
  .feature-nav > li > a {
    padding: 15px 0;
  }
  .feature-nav > li.active > a {
    padding: 15px 0;
  }
  .hero-section .figure-holder .figure-image {
    width: 420px;
    bottom: inherit;
    top: 130px;
  }

  .hero-carousel .carousel-inner .item-content-inner {
    max-width: 500px;
  }
  .team-section .item-inner {
    min-height: 490px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hero-section .hero-sections .figure-holder .figure-image {
    width: 570px;
    bottom: 0;
    top: inherit;
  }
}

.figure-holder .photo img {
  border-radius: 50%;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.718);
}

.skphoto img {
  border-radius: 10px;
  width: 520px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.718);
}

.button {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  height: 48px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  -webkit-transition: background-color 0.225s ease, border-color 0.225s ease,
    color 0.225s ease, -webkit-box-shadow 0.225s ease;
  transition: background-color 0.225s ease, border-color 0.225s ease,
    color 0.225s ease, -webkit-box-shadow 0.225s ease;
  transition: background-color 0.225s ease, box-shadow 0.225s ease,
    border-color 0.225s ease, color 0.225s ease;
  transition: background-color 0.225s ease, box-shadow 0.225s ease,
    border-color 0.225s ease, color 0.225s ease, -webkit-box-shadow 0.225s ease;
}

.button--bordered-green {
  color: #30cf08;
  border-color: #80ffdf;
  background-color: rgba(204, 255, 241, 0.1);
  grid-column: 1 / span 2;
}

@media (min-width: 1170px) {
  .button--bordered-green:hover {
    background-color: rgba(128, 255, 223, 0.3);
  }
}

.button--bordered-green:active {
  background-color: rgba(128, 255, 223, 0.15);
}

.contact-us {
  background-image: url(../images/skill25.jpg);
  height: 1000px;
}

.contact-us-page .main {
  position: relative;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.contact-us {
  position: relative;
  font-family: inherit;
  padding: 20px;
}

.contact-us__image {
  display: none;
}

@media (min-width: 1170px) {
  .contact-us__image {
    display: block;
    position: absolute;
    top: -120px;
    left: 0;
    width: 270px;
    height: 540px;
    mix-blend-mode: lighten;
  }
}

.map {
  position: absolute;
  top: 50px;
  padding: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (min-width: 1170px) {
  .contact-us__wrapper {
    max-width: 1200px;
    padding-top: 90px;
    padding-bottom: 70px;
  }
}

.contact-us__zagcon {
  margin-top: 0px;
  padding-top: 20px;
  font-family: inherit;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  text-align: center;
  color: #30cf08;
}

@media (min-width: 1170px) {
  .contact-us__zagcon {
    color: #30cf08;
    font-size: 36px;
    line-height: 40px;
    text-align: initial;
  }
}

@media (min-width: 1170px) {
  .contact-us__form-wrapper {
    max-width: 570px;
    text-align: right;
  }
}

.contact-us__form-group {
  margin-top: 50px;
}

@media (min-width: 1170px) {
  .contact-us__form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    margin-top: 60px;
  }
}

.contact-us__input {
  margin-top: 36px;
}

.contact-us__input:first-child {
  margin-top: 0;
}

@media (min-width: 1170px) {
  .contact-us__input:nth-child(2) {
    margin-top: 0;
  }

  .contact-us__input:nth-child(5),
  .contact-us__input:nth-child(6) {
    grid-column: 1 / span 2;
  }
}

.contact-us__submit-text {
  font-size: 12px;
  line-height: 18px;
  color: #eee;
  margin-top: 30px;
}

@media (min-width: 1170px) {
  .contact-us__submit-text {
    text-align: initial;
    margin-top: 10px;
  }
}

.contact-us__checkbox {
  margin-top: 20px;
}

@media (min-width: 1170px) {
  .contact-us__checkbox {
    text-align: initial;
  }
}

.contact-us__button {
  width: 100%;
  margin-top: 30px;
  padding-left: 7px;
  padding-right: 7px;
}

@media (min-width: 1170px) {
  .contact-us__button {
    margin-top: 5px;
    max-width: 270px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-us__recaptcha,
.contacts main {
  position: relative;
}

.contact-us__recaptcha--error,
.contact-us__recaptcha--verify {
  display: none;
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 11px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-us__recaptcha--error.active,
.contact-us__recaptcha--verify.active {
  display: block;
}

.contact-us__recaptcha--error {
  color: #f33;
}

.contact-us__recaptcha--verify {
  color: #80ffdf;
}

.page-template-contacts #page {
  position: relative;
  overflow: hidden;
}

.position {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 15px;
  min-height: 80px;
  border-top: 1px solid #555;
  -webkit-transition: background-color 0.225s ease;
  transition: background-color 0.225s ease;
}

.position:hover {
  background-color: #292c33;
}

.position:focus-visible:focus-visible {
  outline: 0 none;
  -webkit-box-shadow: 0 0 0 2px #25252c, 0 0 0 3px rgba(128, 255, 223, 0.5);
  box-shadow: 0 0 0 2px #25252c, 0 0 0 3px rgba(128, 255, 223, 0.5);
  border-radius: 2px;
}

@media (min-width: 1170px) {
  .position {
    grid-template-columns: 13fr 4fr;
    padding: 28px 15px;
    min-height: 85px;
    gap: 15px;
  }
}

.position__title {
  padding-right: 15px;
}

.position__department,
.position__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

@media (max-width: 1169px) {
  .single .position__department:first-child {
    padding-right: 113px;
  }
}

@media (max-width: 1169px) {
  .position__department {
    font-size: 15px;
  }
}

@media (max-width: 1169px) {
  .position__department:nth-child(2) {
    display: none;
  }
}

.position__department:nth-child(3) {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #eee;
  display: none;
}

@media (min-width: 1170px) {
  .position__department:nth-child(3) {
    text-align: right;
  }
}

@media (min-width: 1170px) {
  .position__department {
    display: block;
  }
}

.position__opened-since {
  display: inline-block;
}

@media (min-width: 1170px) {
  .position__opened-since {
    display: none;
  }
}

.position__time {
  font-size: 14px;
  line-height: 21px;
  color: #eee;
  padding-right: 15px;
}

@media (min-width: 1170px) {
  .position__time {
    padding-left: 15px;
  }
}

.position__figure {
  position: absolute;
  right: 15px;
  display: inline-block;
  margin: 0;
}

@media (min-width: 1170px) {
  .position__figure {
    display: none;
  }
}

.position__icon {
  display: block;
  width: 17px;
  height: 17px;
  color: #fff;
}

.input {
  font-size: 0;
  z-index: 1;
  position: relative;
  padding-bottom: 20px;
}

.input__element {
  font-size: 16px;
  width: 100%;
  height: 34px;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 1px solid #999;
  -webkit-transition: border-color 0.225s ease;
  transition: border-color 0.225s ease;
}

.input__element::-webkit-input-placeholder {
  color: transparent;
}

.input__element::-moz-placeholder {
  color: transparent;
}

.input__element:-ms-input-placeholder {
  color: transparent;
}

.input__element::-ms-input-placeholder {
  color: transparent;
}

.input__element::placeholder {
  color: transparent;
}

.input__element:not(:-moz-placeholder-shown) {
  color: #fff;
}

.input__element:not(:-ms-input-placeholder) {
  color: #fff;
}

.input__element:focus,
.input__element:not(:placeholder-shown) {
  color: #fff;
}

.input__element:not(:-moz-placeholder-shown) ~ .input__placeholder {
  font-size: 11px;
  top: -14px;
  transform: none;
  z-index: 0;
}

.input__element:not(:-ms-input-placeholder) ~ .input__placeholder {
  font-size: 11px;
  top: -14px;
  transform: none;
  z-index: 0;
}

.input__element:focus ~ .input__placeholder,
.input__element:not(:placeholder-shown) ~ .input__placeholder {
  font-size: 11px;
  top: -14px;
  -webkit-transform: none;
  transform: none;
  z-index: 0;
}

.input__element:not(:-moz-placeholder-shown) ~ .input__line {
  transform: scale(1);
}

.input__element:not(:-ms-input-placeholder) ~ .input__line {
  transform: scale(1);
}

.input__element:focus ~ .input__line,
.input__element:not(:placeholder-shown) ~ .input__line {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.input__element:focus-visible:focus-visible {
  outline: initial;
  -webkit-box-shadow: initial;
  box-shadow: none;
}

.input__placeholder {
  font-size: 16px;
  color: #999;
  position: absolute;
  left: 0;
  top: calc(50% - 19px);
  z-index: -1;
  -webkit-transition: top 0.225s ease, background-color 0.225s ease,
    font-size 0.225s ease;
  transition: top 0.225s ease, background-color 0.225s ease,
    font-size 0.225s ease;
}
